@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Antonio,
    Open Sans sans-serif;
  background-color: var(--orange-400);

  --header: Antonio;
  --headerWeight: 700;
  --para: Open Sans;
  --paraWeight: 600;

  --orange-400: #f4955c;
  --gray-900: #2e2e2e;
  --white: #fff;
  --gray-800: #4a4a4a;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

h4 {
  font-family: var(--header);
  font-weight: var(--headerWeight);
  font-size: 5rem;
  color: var(--gray-900);
  text-transform: uppercase;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--orange-400);
}

::-webkit-scrollbar-thumb {
  background: var(--gray-900);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray-800);
}
