.heroSection {
  position: relative;
  background-color: var(--orange-400);
  height: 100vh;
}

.overlay {
  position: absolute;
  z-index: 15;
  height: 100vh;
  width: 100%;
  background-color: var(--gray-900);
}

/* Headers */
.headerContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.floatingHeader {
  overflow: hidden;
}

.floatingHeader > h1 {
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--white);
  font-size: 7rem;
}
.developer {
  position: absolute;
  top: 50%;
  right: 25%;
}

.designer {
  position: absolute;
  top: 65%;
  left: 35%;
}

/* IntroText */
.introText {
  display: none;
  color: var(--gray-900);
  position: absolute;
  top: 65%;
  right: 5%;
}

/* Image */
.imageContainer {
  overflow: hidden;
}

.image {
  display: block;
  overflow: hidden;
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  margin: 0px;
  height: 100vh;
}

.imageOverlay {
  position: absolute;
  bottom: 0;
  z-index: 10000;
  width: 100%;
  height: 20%;
  background: rgb(46, 46, 46);
  background: linear-gradient(
    0deg,
    rgba(46, 46, 46, 1) 0%,
    rgba(0, 212, 255, 0) 100%
  );
}

.image > img {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center top;
}

@media screen and (min-width: 500px) {
  .floatingHeader > h1 {
    font-size: 8rem;
  }

  .designer {
    top: 66%;
  }
}

@media screen and (min-width: 700px) {
  .floatingHeader > h1 {
    font-size: 15.4rem;
  }

  .developer {
    top: 45%;
  }
}

@media screen and (min-width: 1200px) {
  .headerContainer {
    position: static;
    height: auto;
  }

  .floatingHeader {
    display: flex;
    flex-direction: column;
  }

  .floatingHeader > h1 {
    -webkit-text-fill-color: var(--gray-900);
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: var(--white);
    line-height: 01;
  }

  .developer {
    position: static;
  }

  .designer {
    position: static;
    text-align: right;
  }

  .introText {
    display: block;
  }

  /* Image */
  .imageContainerWrapper {
    position: absolute;
    top: 5%;
  }

  .imageContainer {
    position: relative;
    width: 60vw;
    height: 95vh;
    margin-left: -10rem;
    overflow: hidden;
  }
}

@media screen and (min-width: 1600px) {
  .floatingHeader > h1 {
    font-size: 20rem;
  }
}

@media screen and (min-width: 2000px) {
  .floatingHeader > h1 {
    font-size: 25rem;
  }
}
