.heroSection {
  position: relative;
  background-color: var(--orange-400);
  height: 100vh;
}

/* Headers */
.headerContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.floatingContainer {
  position: relative;
}

.floatingHeader > h1 {
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--white);
  font-size: 7rem;
}
.developer {
  position: absolute;
  top: 50%;
  right: 25%;
}

.designer {
  position: absolute;
  top: 65%;
  left: 35%;
}

/* Image */
.imageContainer {
  position: absolute;
  bottom: 0;
}

.imageContainer img {
  object-fit: cover;
}

/* IntroText */
.introText {
  /* position: absolute; */
}

@media screen and (min-width: 500px) {
  .floatingHeader > h1 {
    font-size: 8rem;
  }

  .designer {
    top: 66%;
  }
}

@media screen and (min-width: 700px) {
  .floatingHeader > h1 {
    font-size: 15.4rem;
  }

  .developer {
    top: 45%;
  }
}

@media screen and (min-width: 1200px) {
  .headerContainer {
    position: static;
    height: 60%;
  }

  .floatingHeader {
    display: flex;
    flex-direction: column;
  }

  .floatingHeader > h1 {
    -webkit-text-fill-color: var(--gray-900);
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: var(--white);
    line-height: 01;
  }

  .developer {
    position: static;
  }

  .designer {
    position: static;
    text-align: right;
  }
}

@media screen and (min-width: 1600px) {
  .floatingHeader > h1 {
    font-size: 20rem;
  }
}

@media screen and (min-width: 2000px) {
  .floatingHeader > h1 {
    font-size: 25rem;
  }
}
